#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #fe7f2d;
}

body {
    background-color: #5399c4;
}

header {
    background-color: #f9e532;
}

nav a:hover {
    color: #f9e532;
    background-color: #5399c4;
}

.book, .join {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #000000;
    color: #ffffff;
}

.msg {
    background-color: #fe7f2d;
}

footer {
    background-color: #f9e532;
    color: #000000;
}

.home-title {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.msg h2 {
    color: #ffffff;
}

.msg p {
    color: #ffffff;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    background-color: #5399c4;
    color: #f9e532;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

footer p {
    font-size: 1.2em;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: none;
    
}