
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=PT+Sans&family=Varela+Round&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
    height: 115%;
    opacity: 60%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 200px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #fe7f2d;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #5399c4;
    font-family: Nunito, PT Sans, Varela-Round;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f9e532;
}

nav {
    display: flex;
    justify-content: space-around;    
}

nav a:hover {
    color: #f9e532;
    background-color: #5399c4;
}

.book, .join {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #f9e532;  
    width: 100%; 
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
    padding: 0;
}

.book:hover, .join:hover {
    background-color: #000000;
    color: #ffffff;
}

.msg {
    background-color: #fe7f2d;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px white;
}

footer {
    background-color: #f9e532;
    color: #000000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.home-title {
    color: white;
    text-shadow: 3px 3px 5px black;
    font-family: Nunito, PT Sans, Varela-Round;
    font-size: 2em;
    margin-top: 10px;
    padding-top: 20px;
}

h4 {
    color: #ffffff;
}

.msg h2 {
    color: #ffffff;
    font-family: PT Sans, Nunito, Varela-Round;
}

.msg p {
    color: #ffffff;
    font-size: 1em;
    padding: 15px;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    background-color: #5399c4;
    color: #f9e532;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer p {
    font-size: 1em;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: none;
    
}

.social {
    padding-top: 15px;
}

.rivers-card {
    margin-top: 200px;
    padding: 80px;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
}

.camping-card {
    margin-top: 200px;
    padding: 80px;
    grid-column: 5/7;
    grid-row: 2/3;
    width: 100%;
}

.rapids-card {
    margin-top: 200px;
    padding: 80px;
    grid-column: 8/10;
    grid-row: 2/3;
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.mountains {
    background-color: #fe7f2d;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px white;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: white;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/*rivers' page starts right here*/

/*First part: image 1 and text*/
#river {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 0;
}

#river-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    padding: 50px;
}

#river-img1 {
    width: 500px;
    height: 400px;
    border: 10px solid #f9e532;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}

#river-msg {
    grid-column: 3/4;
    grid-row: 2/2;
    margin-top: -500px;
    text-align: right;
    margin-right: -270px;
    padding: 0;   
}

.content1, .content2, .content3 {
    text-align: justify;
    font-size: 18px;    
}

.river1 {
    text-align: right;
}

/*Second part: image 2 and text*/

#river2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 0;
}

#river-box2 {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    padding: 50px;
}

.river-img2 {
    width: 500px;
    height: 400px;
    border: 10px solid #f9e532;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}

#river-msg2 {
    grid-column: 3/4;
    grid-row: 2/2;
    margin-top: -500px;
    text-align: right;
    margin-right: -270px;
    padding: 0;   
}

.content4, .content5, .content6 {
    text-align: justify;
    font-size: 18px;    
}

/*Third part: final and 4 images*/

.final {
    background-color: #fe7f2d;
    margin-top: 200px;
    padding: 80px;
    /*grid-column:;*/
    /*grid-row: ;*/
    margin-bottom: -200px;
}

.next_adv {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 50PX;
    margin-top: -20px;
    font-size: 50px;
}

.adventure1 {
    border: 10px solid #f9e532;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    margin: 30px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px;
}

.adventure2 {
    border: 10px solid #f9e532;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    margin: 30px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px;
}

.adventure3 {
    border: 10px solid #f9e532;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    margin: 30px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px;
}

.button-box1 {
    text-align: center;
}

.button1 {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.button-box1 a:hover {
    background-color: #000000;
    color: white;
}

