@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Josefin+Sans&family=Kanit&display=swap');


#content, #content-books, #content-review {
    max-width: 1600px;
    margin: 0;
    padding: 0;
    background: #003049;
}

body {
    margin: 0;
    padding: 0;
}

/*nav and logo*/
.logo {
    width: 80px;
    padding: 20px;
    margin-left: 20px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #A9000B;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
    font-size: 20px;
    font-family: Gabarito, "Josefin Sans", Kanit;
}

nav {
    display: flex;
    justify-content: space-around;    
}

nav a:hover {
    color: white;
    background-color: #003049;
}

/*First part*/
#stephen1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    
}

#stephen-box1 {
    grid-column: 1/4;
    grid-row: 2/4;
    padding: 50px
}

#stephen-img1 {
    width: 60%;
    height: 300px;
    border: 10px solid #A9000B;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}

#stephen-msg1 {
    grid-column: 3/5;
    grid-row: 2/2;
    margin-top: -20px;
    margin-right: 50px;
    color: white;
    font-family: Gabarito, "Josefin Sans", Kanit;
    text-align: justify;
    font-size: 20px;
}

/*second part*/
#stephen2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    background: linear-gradient( #003049, white 380%);
}

#stephen-box2 {
    grid-column: 1/4;
    grid-row: 1/3;
    padding: 50px;
}

#stephen-img2 {
    width: 60%;
    height: 300px;
    border: 10px solid #A9000B;  
    transition: transform .5s;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    margin-top: 100px;
}

#stephen-msg2 {
    grid-column: 3/5;
    grid-row: 2/4;
    margin-top: -180px;
    margin-right: 50px;
    color: white;
    font-family: Gabarito, "Josefin Sans", Kanit;
    text-align: justify;
    font-size: 20px;
}

/*Background*/
.back-img {
    width: 100%;
    margin-bottom: -248px;
    opacity: 50%;
}

.button-box {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    background-color: #A9000B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para criar destaque */
    transition: background-color 0.3s, color 0.3s;
}

.button-box a:hover {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px 30px;
}

/*Footer*/
footer {
    background-color: #A9000B;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Gabarito, "Josefin Sans", Kanit;
    font-size: 20px;
}

footer p {
    font-size: 1em;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #003049;
    text-decoration: underline;
}

/*Page 2 - Books*/
#stephen3 {
    background-color: #003049;
    padding: 20px;
}

#stephen-img3 {
    width: 100%;
    border: 10px solid #A9000B;  
    border-radius: 10px;
    margin-left: -10px;
}

#stephen-msg3 {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    padding: 20px;
    color: white;
    font-family: Gabarito, "Josefin Sans", Kanit;
    text-align: justify;
    font-size: 20px;
}

.game {
    padding: 20px;
}

.game1 {
    padding: 1em;
    margin-top: -60px;
}

.game2{
    padding: 1em;
    margin-top: -60px;
}

#stephen-msg4 {
    text-align: justify;
    grid-column: 4/5;
    grid-row: 3/5;
    color: #ffffff;
    font-family: Gabarito, "Josefin Sans", Kanit;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 600px;
    margin-top: -150px;
    padding: 10px 20px;
    background-color: #A9000B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    transition: background-color 0.3s, color 0.3s;
}

form {
    margin: 40px;
    margin-top: -250px;
    width: 400px;
    padding: 1em;
    border-radius: 1em;
    color: white;
    font-family: Gabarito, "Josefin Sans", Kanit;
    font-size: 20px;
    background-color: #A9000B;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 90px;
    text-align: center;
}
  
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
}
  
input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
    height: 5em;
}
  
.button {
    padding-left: 90px;
    margin-top: 1em;
    list-style: none;
}
  
button {
    margin-left: 0.5em;
    cursor: pointer;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}

.moveDown {
    margin-top: 3em;
}

.back-img {
    margin-bottom: -248px;
}

/*Review's page*/

#stephen4 {
    background-color: #003049;
    padding: 20px;
}

#book-photo1 {
    width: 50%;
    padding: 20px;
    padding-top: 50px;
}

#stephen-img4 {
    width: 80%;
    border: 10px solid #A9000B;  
    border-radius: 10px;
}

#stephen-msg5 {
    text-align: justify;
    grid-column: 3/5;
    grid-row: 2/2;
    font-family: Gabarito, "Josefin Sans", Kanit;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 550px;
    margin-top: -450px;
    padding: 10px 20px;
    color: white;
}

#book-photo2 {
    padding-top: 600px;
    margin-top: 150px;
}

.carrie-review1 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -500px;
    justify-content: left;
}

.review2 {
    display: flex;
    margin-top: -450px;
    justify-content: left;
}

#stephen-img5 {
    width: 80%;
    border: 10px solid #A9000B;  
    border-radius: 10px;
    margin-left: -550px;
    order: -1;
}

#stephen-msg6 {
    display: grid;
    text-align: justify;
    grid-column: 3/5;
    grid-row: 3/5;
    font-family: Gabarito, "Josefin Sans", Kanit;
    font-size: 20px;
    margin-top: -650px;
    margin-right: 20px;
    margin-left: 550px;
    padding: 10px 20px;
    color: white;
}


.final-background1 {
    z-index: 0;
    margin: 0;
}

.send-us {
    font-size: 35px;
    text-align: center;
}
.review-form {
    margin: -150px;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    position: relative;
    right: -45%;
    transform: translateY(-50%) translateY(150%);
    z-index: 1;
    background-color: #A9000B;
    color: white;
}

.back-img {
    width: 100%;
    opacity: 0.7; /* Opacity */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 10px; 
}

input, textarea {
    font: 1em sans-serif;
    width: 250px; 
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding: 5px;
}

textarea {
    height: 5em;
}

.button {
    text-align: right;
}

button {
    cursor: pointer;
}

#feedback1 {
    background-color: white;
    position: static;
    margin-bottom: -250px;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
    margin-top: 3em;
}

.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px){
  
    header {
      grid-template-columns: auto; 
    }
  
    .logo {
      margin: 0 auto; 
    }
  
    nav {
      flex-direction: column; 
    }
  
    nav a {
      padding: 15px; 
    }

    #stephen-img5 {
        width: 80%;
        border: 10px solid #A9000B;
        border-radius: 10px;
        margin-left: 0; 
        margin-top: 20px;
    }
  
    #stephen1,
    #stephen2,
    #stephen3,
    #stephen4 {
      grid-template-columns: 1fr; 
      margin-top: 50px; 
    }
  
    #stephen-msg5 {
        margin-top: -20px; 
        margin-right: 20px;
        margin-left: 20px;
    }

    #stephen-msg6 {
        margin-top: 20px; 
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .review-form {
        width: 80%; 
        margin: 0 auto; 
        transform: translateY(-50%); 
    }
    
    #feedback, #feedback1 {
        display: none;
    }
}