nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 25rem;
    margin: 2rem;
    border: 5px solid darkcyan;
    padding: 10px;
    background-color: rgb(28, 28, 99);
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px rgb(14, 108, 139);
}

footer {
    margin-top: 15px;
    border-top: 2px solid darkblue;
    text-align: center;
}